/* -----------------------
  anime Cooperator-2
----------------------- */

// 上下の動きループ
// 適性診断の矢印

.vertical {
  animation: vertical 1.5s ease 8s infinite;

  @keyframes vertical {
    0% {
      transform: translateY(0%);
    }

    50% {
      transform: translateY(30%);
    }

    100% {
      transform: translateY(0%);
    }

  }
}


// 適性結果
.pop-late {
  opacity: 0;
  transform: scale(0.5);
  animation: pop 0.5s ease 6s forwards;

  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}


//雲の動き

.cloudAnime {
  animation: cloudAnime 5s ease 0.5s infinite;

  @keyframes cloudAnime {
    0% {
      transform: translateY(0%);
    }

    50% {
      transform: translateY(10%);
    }

    100% {
      transform: translateY(0%);
    }

  }
}

.cloudAnime02 {
  animation: cloudAnime 7s ease 1s infinite;

  @keyframes cloudAnime {
    0% {
      transform: translateY(0%);
    }

    50% {
      transform: translateY(15%);
    }

    100% {
      transform: translateY(0%);
    }

  }
}

// 道のり　雲
.flowing {
  animation: flowing 50s linear 0s infinite;

  @keyframes flowing {
    0% {
      transform: translateX(0%) translateY(200%);
      scale: 0.4;
    }

    100% {
      transform: translateX(200%) translateY(-60vh);
      scale: 1.8;
    }
  }
}

.flowing02 {
  animation: flowing02 50s linear -10s infinite;

  @keyframes flowing02 {
    0% {
      transform: translateX(0%) translateY(200%);
      scale: 0.4;
    }

    100% {
      transform: translateX(200%) translateY(-60vh);
      scale: 1.8;
    }
  }

}

.flowing03 {
  animation: flowing03 50s linear -25s infinite;

  @keyframes flowing03 {
    0% {
      transform: translateX(0%) translateY(200%);
      scale: 0.4;
    }

    100% {
      transform: translateX(200%) translateY(-60vh);
      scale: 1.8;
    }
  }

}

.flowing04 {
  animation: flowing04 50s linear -40s infinite;

  @keyframes flowing04 {
    0% {
      transform: translateX(0%) translateY(200%);
      scale: 0.4;
    }

    100% {
      transform: translateX(200%) translateY(-60vh);
      scale: 1.8;
    }
  }

}

//コインゲット

.get {

  .icon {
    animation: get 5s ease-in 0.5s infinite;

    @keyframes get {
      0% {
        transform: rotateY(0);
        /* Y軸を中心に0°回転 */
      }

      3% {
        transform: rotateY(180deg);
        /* Y軸を中心に180°回転（裏） */
      }

      6% {
        transform: rotateY(0);
        /* Y軸を中心に180°回転（裏） */
      }

      100% {
        transform: rotateY(0);
        /* Y軸を中心に180°回転（裏） */
      }

    }
  }
}

.pyon {
  &.hover {

    animation: pyon 1s linear 0s forwards;

    @keyframes pyon {
      0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
      40%  { transform: scale(0.95, 1.2) translate(0%, -25%); }
      50%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
      60%  { transform: scale(0.95, 1.05) translate(0%, -3%); }
      70%  { transform: scale(1.05, 0.95) translate(0%, 3%); }
      80%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
      100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
      }
  }
}






.bird {
  iframe {
    opacity: 0;

    &.show {
      animation: fade-in 3s ease-in-out 1s forwards;

      @keyframes fade-in {
        0% {
          transform: translate(150%, -100%);
          opacity: 1;
        }

        100% {
          transform: translate(0);
          opacity: 1;
        }
      }
    }
  }
}

.rabbit {
  iframe {
    opacity: 0;

    &.show {
      animation: yurayura 5s infinite 1s alternate;
      transform-origin: center bottom;

      @keyframes yurayura {

        0%,
        100% {
          transform: rotate(10deg);
          opacity: 1;
        }

        40%,
        80% {
          transform: rotate(-10deg);
          opacity: 1;
        }
      }
    }
  }
}