
$yellow:#FFFF00;
$khaki:#6B644D;
$orange:#F38549;
$blue:#4BBFCF;
$testbg:#FEFFFF;
$testtx:#877E61;
$namebg:#F69082;


// パーツカラー
$P-D9D9D9: #D9D9D9;//無料で始める　ボタンの色
$P-F9C1A1: #F9C1A1;
$P-B29975:#B29975;
$P-7FBF99: #7FBF99;
$P-F1D23E:#F1D23E;
$P-F69082:#F69082;
$P-ED863A:#ED863A;
$P-C2DFE7: #C2DFE7;
$P-F6AA64: #F6AA64;



// フォントカラー
$F-1E673C: #1E673C;
$F-405164: #405164;//無料で始める
$F-F5A274: #F5A274;
$F-AFAFAF: #AFAFAF;
$F-AAA3A3: #AAA3A3;
$F-9B8845: #9B8845;
$F-A79451: #A79451;
$F-96734B: #96734B;
$F-6D6D6D: #6D6D6D;
$F-F1B43E: #F1B43E;
$F-B29975: #B29975;
$F-D9D9D9: #D9D9D9;
$F-B29975: #B29975;
$F-F1FCD4: #F1FCD4;
$F-F4FFCB: #F4FFCB;
$F-898069: #898069;
$F-7F8180:#7F8180;
$F-C7B82F:#C7B82F;
$F-857763: #857763;
$F-D2D2D2: #D2D2D2;

//背景
$B-FFFFFF: #FFFFFF;
$B-F69064: #F69064;
$B-FFDFAF: #FFDFAF;
$B-FDFFEF: #FDFFEF;
$B-FCF2C0: #FCF2C0;
$B-F9FFD2: #F9FFD2;
$B-A2C859: #A2C859;
$B-C8C8C8: #C8C8C8;
$B-4BC7FB: #4BC7FB;
$B-FFFDED: #FFFDED;