@use "../../functions" as *;

/* -----------------------
  signup-confirm
----------------------- */

.signup-confirm-container {

  @include sp {
    padding-inline: 20px;
  }

  .signup-confirm-content {
    margin: 0 auto;

    @include pc {
      margin-top: 80px;
      max-width: 700px;
    }

    @include sp {
      margin-top: 60px;
    }

    &-text {
      margin-bottom: 30px;

      .TX {
        color: #989898;
        @include wt500;
        line-height: 1.5;
        letter-spacing: 1.2px;
        font-size: 12px;
      }
    }

    .signup-confirm-form {

      @include pc {
        @include column(30px);
      }

      @include sp {
        @include column(60px);
      }

      .form_content {
        .form_content-title {
          margin-bottom: 14px;

          .TL {
            color: #989898;
            @include wt700;
            line-height: 1.5;
            letter-spacing: 1.6px;
            font-size: 16px;
          }
        }

        .form_content-main {
          @include column(1px);

          .main_item {
            display: flex;
            gap: 1px;

            @include pc {
              min-height: 70px;
            }

            @include sp {
              min-height: 58px;
            }

            &-title {
              background: #A8DAE9;
              @include center;
              flex-shrink: 0;
              padding: 5px;

              @include pc {
                width: 147px;
              }

              @include sp {
                width: 122px;
              }

              .TL {
                color: #FFF;
                @include wt700;
                line-height: 1.5;
                font-size: 15px;
              }
            }

            &-text {
              background: #F3F9FB;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 100%;
              padding: 5px 38px;

              @include sp{
                padding-inline: 15px;
              }

              .TX {
                color: #585D5F;
                @include wt500;
                line-height: 1.5;
                font-size: 15px;
              }
            }
          }
        }
      }
    }

    .confirm-content_btn {
      display: flex;

      @include pc {
        margin-top: 100px;
        gap: 23px;
      }

      @include sp {
        margin-top: 84px;
        gap: 15px;
      }

      .btn_back,
      .btn_submit {
        color: #FFF;
        @include wt700;
        line-height: 1.5;
        font-size: 20px;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 5px;
        @include center;
        position: relative;
        border: none;
        margin: 0;

        @include pc {
          height: 70px;
        }

        @include sp {
          height: 58px;
        }
      }

      .btn_back {
        background: #D1D1D1;

        @include pc {
          width: max(calc((242 / 700) * 100%), 242px);
        }

        @include sp {
          font-size: 13px;
          width: max(calc((152 / 350) * 100%), 152px);
        }
      }

      .btn_submit {
        background: #57C6EA;

        @include pc {
          width: calc((427 / 700) * 100%);
        }

        @include sp {
          width: calc((183 / 350) * 100%);
        }
      }
    }
  }
}