@use "../global" as *;

// course
.course {
  position: relative;
  background-image: url('/img/course-back.png');
  background-repeat: no-repeat;

  @include pc {
    background-size: 75%;
    background-position: center right;
    padding: calc((110 / 1280) * 100vw) 0 calc((100 / 1280) * 100vw);
  }

  @include sp {
    background-size: 130%;
    background-position: -90% 42%;
    padding: calc((40 / 390) * 100vw) 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #C9B7A1 0%, #c9b7a1be 50%, #c9b7a1be 50%, #C9B7A1 100%);
    z-index: 1;
  }

  &--inner {
    position: relative;
    z-index: 3;

    &--top {
      position: relative;

      @include pc {
        width: fit-content;
        margin-bottom: calc((80 / 1280) * 100vw);
      }

      @include sp {
        padding-left: calc((25 / 390) * 100vw);
        margin-bottom: calc((30 / 390) * 100vw);
      }

      &--img {
        @include imgCover('course-item-1.jpg');

        @include pc {
          aspect-ratio: 1095 / 514;
          width: calc((1095 / 1280) * 100vw);
        }

        @include sp {
          aspect-ratio: 365 / 251;
          width: calc((365 / 390) * 100vw);
        }
      }

      &--text {

        @include pc {
          position: absolute;
          top: calc((80 / 1280) * 100vw);
          right: calc((20 / 1280) * 100vw);
          width: calc((400 / 1280) * 100vw);
        }

        @include sp {
          margin-top: calc((30 / 390) * 100vw);
        }

        h3 {
          @include kaisei;
          color: $fontWhite;
          line-height: 200%;

          @include pc {
            font-size: calc((32 / 1280) * 100vw);
            margin-bottom: calc((10 / 1280) * 100vw);
          }

          @include sp {
            position: absolute;
            top: calc((5 / 390) * 100vw);
            right: calc((50 / 390) * 100vw);
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            font-size: calc((20 / 390) * 100vw);
          }
        }

        p {
          @include sans;
          line-height: 150%;
          font-weight: 300;

          @include pc {
            color: $fontWhite;
            font-size: max(calc((16 / 1280) * 100vw), 10px);
            width: 90%;

          }

          @include sp {
            color: $fontMain;
            font-size: calc((10 / 390) * 100vw);
            width: 90%;
          }
        }
      }
    }


    &--middle {
      display: flex;

      @include pc {
        gap: calc((70 / 1280) * 100vw);
        margin-bottom: calc((70 / 1280) * 100vw);
        align-items: flex-end;
        justify-content: right;
      }

      @include sp {
        flex-direction: column;
        gap: calc((30 / 390) * 100vw);
        position: relative;
        margin-bottom: calc((30 / 390) * 100vw);
      }

      &--position {

        @include pc {
          position: relative;
          width: fit-content;
        }

        @include sp {
          display: contents;
        }

        &--text {

          @include pc {
            position: absolute;
            top: calc((50 / 1280) * 100vw);
            left: 0;
            right: 0;
            margin: auto;
            width: 85%;
          }

          @include sp {
            padding-left: calc((25 / 390) * 100vw);
          }

          p {
            @include sans;
            line-height: 180%;
            font-weight: 300;

            @include pc {
              color: $fontWhite;
              font-size: max(calc((16 / 1280) * 100vw), 10px);
            }

            @include sp {
              color: $fontMain;
              font-size: calc((10 / 390) * 100vw);
              width: 90%;
            }
          }
        }

        &--title {

          @include pc {
            position: absolute;
            bottom: calc((-50 / 1280) * 100vw);
            left: calc((40 / 1280) * 100vw);
          }

          @include sp {
            position: absolute;
            top: calc((80 / 390) * 100vw);
            right: calc((40 / 390) * 100vw);
          }

          p {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            @include kaisei;
            letter-spacing: 0.3em;
            font-weight: 700;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
            line-height: 150%;
            color: $mainColor;

            @include pc {
              font-size: calc((30 / 1280) * 100vw);
            }

            @include sp {
              font-size: calc((20 / 390) * 100vw);
            }

            span {
              @include pc {
                color: $fontWhite;
              }
            }
          }
        }

        &--img {
          height: fit-content;

          &.img--1 {
            @include imgCover('course-item-2.jpg');

            @include pc {
              aspect-ratio: 477 / 675;
              width: calc((477 / 1280) * 100vw);
            }

            @include sp {
              aspect-ratio: 237 / 339;
              width: calc((237 / 390) * 100vw);
            }
          }

          &.img--2 {
            @include imgCover('course-item-3.jpg');

            @include pc {
              aspect-ratio: 596 / 374;
              width: calc((596 / 1280) * 100vw);
              margin-bottom: calc((70 / 1280) * 100vw);
            }

            @include sp {
              aspect-ratio: 267 / 177;
              width: calc((267 / 390) * 100vw);
              margin-left: auto;
            }
          }
        }
      }
    }

    &--bottom {

      @include pc {
        margin-bottom: calc((110 / 1280) * 100vw);
      }

      @include sp {
        padding: 0 calc((10 / 390) * 100vw);
        margin-bottom: calc((30 / 390) * 100vw);
      }

      &--img {
        @include imgCover('course-item-4.jpg');
        aspect-ratio: 800 / 300;

        @include pc {
          width: calc((800 / 1280) * 100vw);
          margin-left: auto;
        }

        @include sp {
          width: 100%;
        }
      }
    }

    &--table {
      border: 3px solid $mainColor;
      margin: 0 auto;

      @include pc {
        width: max(calc((1020 / 1280) * 100vw), 700px);
        padding: calc((6 / 1280) * 100vw);
      }

      @include sp {
        width: calc((340 / 390) * 100vw);
        padding: calc((4 / 390) * 100vw);
      }

      &--border {
        border: 1px solid $mainColor;
        width: 100%;
        height: 100%;
        display: flex;

        @include pc {
          padding: calc((40 / 1280) * 100vw);
        }

        @include sp {
          padding: calc((30 / 390) * 100vw) 0;
          flex-direction: column;
          gap: calc((40 / 390) * 100vw);
        }

        .courseTable--item {
          text-align: center;

          @include pc {
            width: 50%;
            border-right: 2px solid $mainColor;
            @include column(calc((30 / 1280) * 100vw));
          }

          @include sp {
            width: 100%;
            @include column(calc((20 / 390) * 100vw));
          }

          &:last-child {
            @include pc {
              border-right: none;
            }
          }

          &--title {
            border-bottom: 2px solid $mainColor;
            width: fit-content;
            margin: 0 auto;

            h3 {
              @include cormorant;
              color: $mainColor;
              line-height: 120%;
              letter-spacing: 0.1em;

              @include pc {
                font-size: calc((36 / 1280) * 100vw);
              }

              @include sp {
                font-size: calc((26 / 390) * 100vw);
              }
            }
          }

          &--text {

            @include pc {
              @include column(calc((5 / 1280) * 100vw));
            }

            @include sp {
              @include column(calc((5 / 390) * 100vw));
            }

            p {
              @include sans;
              color: $fontMain;
              letter-spacing: 0.1em;

              @include pc {
                font-size: max(calc((14 / 1280) * 100vw), 10px);
              }

              @include sp {
                font-size: calc((10 / 390) * 100vw);
              }
            }
          }

          &--content {

            @include pc {
              @include column(calc((10 / 1280) * 100vw));
            }

            @include sp {
              @include column(calc((10 / 390) * 100vw));
            }

            h4 {
              @include sans;
              color: $fontMain;
              display: flex;
              align-items: center;
              justify-content: center;
              letter-spacing: 0.1em;
              font-weight: 700;

              @include pc {
                font-size: max(calc((18 / 1280) * 100vw), 10px);
                gap: calc((5 / 1280) * 100vw);
              }

              @include sp {
                font-size: calc((12 / 390) * 100vw);
                gap: calc((3 / 390) * 100vw);
              }

              &::before {
                content: '';
                display: block;
                aspect-ratio: 1;
                background-color: $mainColor;

                @include pc {
                  width: calc((15 / 1280) * 100vw);
                }

                @include sp {
                  width: calc((8 / 390) * 100vw);
                }
              }
            }

            p {
              @include sans;
              color: $fontMain;
              margin: 0 auto;

              @include pc {
                width: 80%;
                font-size: max(calc((14 / 1280) * 100vw), 10px);
              }

              @include sp {
                width: 81%;
                font-size: calc((10 / 390) * 100vw);
              }
            }
          }
        }
      }
    }
  }
}