@use "../global" as *;

// FV
.fv {
  width: 100%;
  position: relative;
  background-color: #F0ECE8;

  @include pc {
    padding: calc((234 / 1280) * 100vw) 0 calc((172 / 1280) * 100vw);
  }

  @include sp {
  }

  &--img {
    @include imgCover('FV-img.jpg');

    @include pc {
      aspect-ratio: 1093 / 512;
      width: calc((1093 / 1280) * 100vw);
    }

    @include sp {
      aspect-ratio: 368 / 538;
      width: 100%;
    }
  }

  &--logo {
    position: absolute;
    top: 0;

    @include pc {
      left: calc((145 / 1280) * 100vw);
    }

    @include sp {
      left: calc((20 / 390) * 100vw);
    }

    img {
      aspect-ratio: 253 / 172;
      object-fit: cover;

      @include pc {
        width: calc((253 / 1280) * 100vw);
      }

      @include sp {
        width: calc((150 / 390) * 100vw);
      }
    }
  }

  &--telText {
    position: absolute;
    text-align: right;
    top: calc((35 / 1280) * 100vw);
    right: calc((180 / 1280) * 100vw);

    &--sans {
      @include sans;
      color: $mainColor;
      font-size: max(calc((12 / 1280) * 100vw), 10px);
      line-height: 150%;

    }

    &--serif {
      @include serif;
      color: $mainColor;
      font-size: max(calc((15 / 1280) * 100vw), 10px);
      line-height: 150%;
    }

    &--playfair {
      @include playfair;
      color: $mainColor;
      font-size: max(calc((12 / 1280) * 100vw), 10px);
      line-height: 150%;
    }

    &--tel {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: calc((10 / 1280) * 100vw);

      a {
        display: flex;
        align-items: center;
        gap: calc((5 / 1280) * 100vw);
        font-size: max(calc((27 / 1280) * 100vw), 20px);

        span {
          display: block;
          aspect-ratio: 1;
          @include iconContain($phone);
          height: fit-content;
          width: calc((27 / 1280) * 100vw);
        }
      }
    }
  }

  &--text {
    position: absolute;

    @include pc {
      top: calc((160 / 1280) * 100vw);
      right: calc((240 / 1280) * 100vw);
    }

    @include sp {
      top: calc((110 / 390) * 100vw);
      right: calc((50 / 390) * 100vw);
    }

    p {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      @include serif;
      letter-spacing: 0.3em;
      font-weight: 700;
      text-shadow: 0px 0px 1px rgb(0, 0, 0);
      line-height: 150%;

      @include pc {
        color: $mainColor;
        font-size: calc((30 / 1280) * 100vw);
      }

      @include sp {
        color: $fontWhite;
        font-size: calc((20 / 390) * 100vw);
      }

      span {
        @include pc {
          color: $fontWhite;
        }
      }
    }
  }

  .burger {
    aspect-ratio: 48/42;
    width: calc((48 / 390) * 100vw);
    @include iconContain($open);
    cursor: pointer;
    position: fixed;
    bottom: calc((330 / 390) * 100vw);
    right: calc((10 / 390) * 100vw);
    transition: all 0.3s;
    z-index: 100;

    &.active {
      @include iconContain($close);
    }
  }

  .menu {
    position: fixed;
    z-index: 101;

    @include pc {
      // position: absolute;
      bottom: calc((40 / 1280) * 100vw);
      left: calc((200 / 1280) * 100vw);
      left: calc((60 / 1280) * 100vw);
    }

    @include sp {
      bottom: calc((55 / 390) * 100vw);
      right: -100%;
      transition: all 0.3s;

      &.active {
        right: calc((20 / 390) * 100vw);
      }
    }

    ul {
      @include pc {
        @include column(calc((10 / 1280) * 100vw));
      }

      @include sp {
        @include column(calc((5 / 390) * 100vw));
      }

      li {
        // &:nth-last-child(-n+3) {
        //   a {
        //     @include pc {
        //       color: $mainColor;
        //     }
        //   }
        // }

        a {
          @include serif;
          font-weight: 900;
          text-shadow: 1px 1px 0px rgb(255, 255, 255);
          line-height: 150%;
          transition: 0.3s;
          display: inline-block;
          
          @include pc {
            color: $fontWhite;
            color: $mainColor;
            font-size: calc((25 / 1280) * 100vw);
          }

          @include sp {
            color: $mainColor;
            font-size: calc((20 / 390) * 100vw);
          }

          &:hover {
            transform: translateX(-5px);
          }
        }
      }
    }
  }
}