@use "../global" as *;

// menu
.menu {


  &--title {
    @include imgCover('menu-title.jpg');
    @include center;
    width: 100%;

    @include pc {
      aspect-ratio: 1280 / 616;
    }

    @include sp {
      aspect-ratio: 390 / 283;
    }

    &--box {
      background-color: $brown;

      @include pc {
        padding: calc((50 / 1280) * 100vw) calc((40 / 1280) * 100vw);
      }

      @include sp {
        padding: calc((30 / 390) * 100vw) calc((20 / 390) * 100vw);
      }

      h2 {
        @include kaisei;
        color: $fontWhite;
        writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        line-height: 200%;
        letter-spacing: 0.3em;

        @include pc {
          font-size: calc((29 / 1280) * 100vw);
        }

        @include sp {
          font-size: calc((19 / 390) * 100vw);
        }
      }
    }
  }

  &--detail {
    background-color: $subColor;

    @include pc {
      padding: calc((6 / 1280) * 100vw) 0 calc((60 / 1280) * 100vw);
    }

    @include sp {
      padding: calc((20 / 390) * 100vw) 0 calc((70 / 390) * 100vw);
    }

    &--top {

      @include pc {
        position: relative;
        padding-left: calc((140 / 1280) * 100vw);
        margin-bottom: calc((140 / 1280) * 100vw);
      }

      @include sp {}

      &--point {

        @include pc {
          margin-bottom: calc((60 / 1280) * 100vw);
        }

        @include sp {
          margin-bottom: calc((30 / 390) * 100vw);
        }

        p {
          @include sans;
          line-height: 180%;
          font-weight: 400;
          letter-spacing: 0.1em;

          @include pc {
            font-size: max(calc((14 / 1280) * 100vw), 10px);
          }

          @include sp {
            text-align: center;
            font-size: calc((10 / 390) * 100vw);
          }
        }
      }

      &--img {
        aspect-ratio: 654 / 478;

        @include pc {
          width: calc((654 / 1280) * 100vw);
          position: absolute;
          top: calc((-80 / 1280) * 100vw);
          right: 0;
        }

        @include sp {
          position: relative;
          width: 90%;
          margin: 0 0 calc((30 / 390) * 100vw) auto;
        }

        &.img--1 {
          @include imgCover('menu-1.jpg');
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 95%;
          height: 95%;
          border: 1px solid $fontMain;
        }

        p {
          @include kaisei;
          color: $fontMain;
          line-height: 200%;
          letter-spacing: 0.1em;
          writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          position: absolute;

          @include pc {
            font-size: calc((38 / 1280) * 100vw);
            top: calc((50 / 1280) * 100vw);
            left: calc((40 / 1280) * 100vw);
          }

          @include sp {
            font-size: calc((19 / 390) * 100vw);
            top: calc((20 / 390) * 100vw);
            left: calc((20 / 390) * 100vw);
          }
        }
      }

      &--name {

        @include sp {
          margin-bottom: calc((10 / 390) * 100vw);
        }

        p {
          @include sans;
          color: $fontMain;
          line-height: 180%;
          // font-weight: 700;
          letter-spacing: 0.1em;

          @include pc {
            font-size: calc((25 / 1280) * 100vw);
          }

          @include sp {
            font-size: calc((16 / 390) * 100vw);
            text-align: center;
          }

          span {
            // font-weight: 700;

            @include pc {
              font-size: calc((22 / 1280) * 100vw);
            }

            @include sp {
              font-size: calc((14 / 390) * 100vw);
            }
          }
        }
      }

      &--memo {

        @include pc {
          width: calc((415 / 1280) * 100vw);
          position: absolute;
          right: calc((230 / 1280) * 100vw);
          bottom: calc((-380 / 1280) * 100vw);
        }

        @include sp {
          width: 90%;
          margin: 0 auto;
        }

        p {
          @include sans;
          color: $fontMain;
          line-height: 180%;
          letter-spacing: 0.1em;

          @include pc {
            font-size: max(calc((16 / 1280) * 100vw), 10px);
          }

          @include sp {
            font-size: calc((10 / 390) * 100vw);
          }
        }
      }
    }

    &--middle {

      @include pc {
        margin-bottom: calc((60 / 1280) * 100vw);
      }

      @include sp {
        margin: calc((30 / 390) * 100vw) auto calc((50 / 390) * 100vw);
      }

      &--img {
        aspect-ratio: 499 / 309;

        @include pc {
          width: calc((499 / 1280) * 100vw);
          margin-left: calc((80 / 1280) * 100vw)
        }

        @include sp {
          width: 80%;
        }

        &.img--1 {
          @include imgCover('menu-2.jpg');
        }
      }
    }

    &--bottom {

      @include pc {
        @include column(calc((70 / 1280) * 100vw));
      }

      @include sp {
        @include column(calc((30 / 390) * 100vw));
      }

      &--content {
        display: flex;

        @include pc {
          align-items: center;
          width: calc((1000 / 1280) * 100vw);
          gap: calc((50 / 1280) * 100vw);
        }

        @include sp {
          flex-direction: column;
          gap: calc((20 / 390) * 100vw);
        }

        &:nth-child(2n-1) {
          @include pc {
            flex-direction: row-reverse;
            margin-left: calc((200 / 1280) * 100vw);
          }

          .menu--detail--bottom--content--img {

            @include sp {
              margin-left: auto;
            }

            p {
              right: unset;

              @include pc {
                left: calc((40 / 1280) * 100vw);
              }

              @include sp {
                left: calc((20 / 390) * 100vw);
              }
            }
          }
        }

        &--img {
          aspect-ratio: 648 / 405;
          flex-shrink: 0;
          position: relative;

          @include pc {
            width: calc((648 / 1280) * 100vw);
          }

          @include sp {
            width: 90%;
          }

          &.img--1 {
            @include imgCover('menu-3.jpg');
          }

          &.img--2 {
            @include imgCover('menu-4.jpg');
          }

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 95%;
            height: 95%;
            border: 1px solid $fontMain;
          }

          p {
            @include kaisei;
            color: $fontMain;
            line-height: 200%;
            letter-spacing: 0.1em;
            writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            position: absolute;

            @include pc {
              font-size: calc((36 / 1280) * 100vw);
              top: calc((50 / 1280) * 100vw);
              right: calc((40 / 1280) * 100vw);
            }

            @include sp {
              font-size: calc((18 / 390) * 100vw);
              top: calc((20 / 390) * 100vw);
              right: calc((20 / 390) * 100vw);
            }
          }
        }

        &--text {

          @include pc {
            @include column(calc((35 / 1280) * 100vw));
          }

          @include sp {
            @include column(calc((10 / 390) * 100vw));
            width: 80%;
            margin: 0 auto;
          }

          p {
            @include sans;
            color: $fontMain;
            line-height: 180%;
            letter-spacing: 0.1em;

            &:nth-child(1) {
              @include pc {
                font-size: max(calc((25 / 1280) * 100vw), 10px);
              }

              @include sp {
                font-size: calc((16 / 390) * 100vw);
              }
            }

            &:nth-child(2) {
              @include pc {
                font-size: max(calc((22 / 1280) * 100vw), 10px);
              }

              @include sp {
                font-size: calc((14 / 390) * 100vw);
              }
            }

            &:nth-child(3) {
              @include pc {
                font-size: max(calc((16 / 1280) * 100vw), 10px);
              }

              @include sp {
                font-size: calc((10 / 390) * 100vw);
              }
            }
          }
        }
      }
    }
  }

  &--book {
    background-color: $brown;

    @include pc {
      padding: calc((100 / 1280) * 100vw) 0 calc((75 / 1280) * 100vw);
    }

    @include sp {
      padding: calc((40 / 390) * 100vw) calc((20 / 390) * 100vw) calc((50 / 390) * 100vw);
    }

    &--title {
      @include pc {
        margin-bottom: calc((50 / 1280) * 100vw);
      }

      @include sp {
        margin-bottom: calc((25 / 390) * 100vw);
      }

      h2 {
        @include kaisei;
        color: $fontWhite;
        line-height: 200%;
        letter-spacing: 0.3em;
        text-align: center;

        @include pc {
          font-size: calc((32 / 1280) * 100vw);
        }

        @include sp {
          font-size: calc((23 / 390) * 100vw);
        }
      }
    }

    &--detail {
      @include imgContain('menu-book.png');
      aspect-ratio: 919 / 673;
      @include center;

      @include pc {
        width: calc((919 / 1280) * 100vw);
        margin: 0 auto;
      }

      @include sp {
        width: 100%;
        position: relative;
      }

      &::before {
        @include sp {
          content: '※写真タップで詳細表示';
          position: absolute;
          bottom: calc((-35 / 390) * 100vw);
          width: 100%;
          text-align: center;
          @include sans;
          color: $fontWhite;
          font-size: calc((10 / 390) * 100vw);
        }
      }

      &--page {

        @include pc {
          width: calc((571 / 1280) * 100vw);
          @include column(calc((20 / 1280) * 100vw));
        }

        @include sp {
          width: 80%;
          margin: 0 auto;
          // @include column(calc((10 / 390) * 100vw));
          position: relative;
        }

        &--title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include pc {}

          @include sp {
            display: none;
            position: absolute;
            top: calc((-25 / 390) * 100vw);
            left: 0;
            width: 100%;

            &.active {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }

          p {
            @include sans;
            color: $fontMain;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.1em;
            border-left: 3px solid $fontMain;
            padding-left: 0.5em;

            @include pc {
              font-size: calc((25 / 1280) * 100vw);
            }

            @include sp {
              font-size: calc((16 / 390) * 100vw);
            }
          }

          span {
            @include sans;
            color: $fontMain;
            line-height: 100%;
            letter-spacing: 0.1em;

            @include pc {
              font-size: calc((19 / 1280) * 100vw);
            }

            @include sp {}
          }
        }

        &--img {
          aspect-ratio: 571 / 327;
          @include imgCover('menu-book-1.jpg');

          @include pc {
            pointer-events: none;
          }

          @include sp {
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        &--text {
          display: flex;
          justify-content: space-between;

          @include pc {}

          @include sp {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff62;
            padding: calc((10 / 390) * 100vw);

            &.active {
              display: block;
            }
          }

          p {
            @include sans;
            color: $fontMain;
            line-height: 180%;
            letter-spacing: 0.1em;

            @include pc {
              width: 45%;
              font-size: calc((15 / 1280) * 100vw);
            }

            @include sp {
              width: 100%;
              font-size: calc((12 / 390) * 100vw);
            }
          }
        }
      }
    }
  }

  &--divide {
    position: relative;
    @include imgContain('menu-divide-back.png');

    @include pc {
      padding: calc((120 / 1280) * 100vw) 0 calc((100 / 1280) * 100vw);
      background-size: 90%;
      background-position: top right;
    }

    @include sp {
      padding: calc((60 / 390) * 100vw) 0 calc((50 / 390) * 100vw);
      background-size: 100%;
      background-position: top right;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffffa2;
    }

    &--inner {
      position: relative;

      &--top {

        @include pc {
          margin-bottom: calc((60 / 1280) * 100vw);
        }

        @include sp {
          margin-bottom: calc((10 / 390) * 100vw);
        }

        &--img {

          @include pc {
            aspect-ratio: 749 / 341;
            width: calc((749 / 1280) * 100vw);
          }

          @include sp {
            aspect-ratio: 338 / 214;
            width: 85%;
            margin: 0 auto;
          }

          &.img--1 {
            @include imgCover('menu-divide-1.jpg');
          }
        }
      }

      &--middle {
        display: flex;

        @include pc {
          margin-bottom: calc((110 / 1280) * 100vw);
          gap: calc((50 / 1280) * 100vw);
        }

        @include sp {
          margin: 0 auto calc((50 / 390) * 100vw);
          gap: calc((10 / 390) * 100vw);
          width: 85%;
        }

        &--img {
          aspect-ratio: 644 / 427;
          height: fit-content;

          @include pc {
            width: calc(50% - ((50 / 1280) * 100vw) * 1/2);
          }

          @include sp {
            width: calc(50% - ((10 / 390) * 100vw) * 1/2);
          }

          &.img--1 {
            @include imgCover('menu-divide-2.jpg');

            @include pc {
              margin-top: calc((180 / 1280) * 100vw);
            }
          }

          &.img--2 {
            @include imgCover('menu-divide-3.jpg');
          }
        }
      }

      &--bottom {

        @include pc {
          width: 85%;
          margin-left: auto;
        }

        @include sp {}

        &--img {
          position: relative;

          @include pc {
            aspect-ratio: 1096 / 440;
          }

          @include sp {
            aspect-ratio: 390 / 254;
          }

          &.img--1 {
            @include imgCover('menu-divide-4.jpg');
          }

          p {
            @include kaisei;
            color: $fontMain;
            line-height: 200%;
            letter-spacing: 0.1em;
            position: absolute;

            @include pc {
              font-size: calc((32 / 1280) * 100vw);
              bottom: calc((-245 / 1280) * 100vw);
              left: calc((40 / 1280) * 100vw);
              writing-mode: vertical-rl;
              -ms-writing-mode: tb-rl;
              text-shadow: 0px 0px 1px rgb(0, 0, 0);
            }

            @include sp {
              font-size: calc((20 / 390) * 100vw);
              bottom: 50%;
              transform: translateY(50%);
              right: calc((20 / 390) * 100vw);
              text-shadow: 0px 0px 1px #FFF;
            }

            span {

              @include pc {
                color: $fontWhite;
              }

              @include sp {}
            }
          }
        }

        &--text {

          @include pc {
            width: 60%;
            margin: calc((50 / 1280) * 100vw) auto 0;
          }

          @include sp {
            width: 85%;
            margin: calc((25 / 390) * 100vw) auto 0;
          }

          p {
            @include sans;
            color: $fontMain;
            line-height: 180%;

            @include pc {
              font-size: max(calc((16 / 1280) * 100vw), 10px);
            }

            @include sp {
              font-size: calc((10 / 390) * 100vw);
            }
          }
        }
      }
    }
  }

  &--staple {
    position: relative;
    @include imgContain('menu-staple-back.png');

    @include pc {
      background-size: 95%;
      background-position: top right;
      padding: calc((100 / 1280) * 100vw) 0 calc((80 / 1280) * 100vw);
    }

    @include sp {
      background-size: 240%;
      background-position: 0% -10%;
      padding: calc((30 / 390) * 100vw) 0 calc((140 / 390) * 100vw);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #afa087bc;
    }

    &--inner {
      position: relative;

      @include pc {
        @include column(calc((50 / 1280) * 100vw));
      }

      @include sp {
        @include column(calc((30 / 390) * 100vw));
      }

      &--item {
        display: flex;

        @include pc {
          flex-direction: row-reverse;
          justify-content: start;
          align-items: center;
          gap: calc((120 / 1280) * 100vw);
        }

        @include sp {
          flex-direction: column;
          gap: calc((10 / 390) * 100vw);
        }

        &--text {
          @include sp {
            width: fit-content;
            margin: 0 auto;
          }

          p {
            @include kaisei;
            color: $fontMain;
            line-height: 200%;
            writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;

            @include pc {
              font-size: calc((36 / 1280) * 100vw);
            }

            @include sp {
              font-size: calc((20 / 390) * 100vw);
            }
          }
        }

        &--img {
          aspect-ratio: 781 / 482;
          position: relative;

          @include pc {
            width: calc((781 / 1280) * 100vw);
          }

          @include sp {
            width: 95%;
            margin: 0 auto;
          }

          &.img--1 {
            @include imgCover('menu-staple-1.jpg');
          }

          p {
            @include sans;
            color: $fontWhite;
            line-height: 150%;
            letter-spacing: 0.1em;
            position: absolute;

            @include pc {
              font-size: calc((22 / 1280) * 100vw);
              top: calc((120 / 1280) * 100vw);
              right: calc((120 / 1280) * 100vw);
            }

            @include sp {
              font-size: calc((14 / 390) * 100vw);
              top: calc((50 / 390) * 100vw);
              right: calc((0 / 390) * 100vw);
            }
          }

          .kunekuneW {
            @include iconContain($kunekuneW);
            aspect-ratio: 204 / 114;
            position: absolute;

            @include pc {
              width: calc((204 / 1280) * 100vw);
              top: calc((140 / 1280) * 100vw);
              right: calc((190 / 1280) * 100vw);
            }

            @include sp {
              width: calc((100 / 390) * 100vw);
              top: calc((80 / 390) * 100vw);
              right: calc((60 / 390) * 100vw);
            }
          }
        }
      }

      &--itemSecond {
        display: flex;

        @include pc {
          width: calc((900 / 1280) * 100vw);
          margin: 0 0 0 calc((220 / 1280) * 100vw);
          gap: calc((50 / 1280) * 100vw);
        }

        @include sp {
          flex-direction: column;
          gap: calc((40 / 390) * 100vw);
        }

        &--text {

          @include sp {
            width: 90%;
            margin: 0 auto;
          }

          p {
            @include sans;
            color: $fontMain;
            line-height: 180%;
            letter-spacing: 0.1em;
            text-align: justify;

            @include pc {
              font-size: max(calc((16 / 1280) * 100vw), 10px);
            }

            @include sp {
              font-size: calc((10 / 390) * 100vw);
            }
          }
        }

        &--img {
          aspect-ratio: 516 / 319;
          flex-shrink: 0;

          @include pc {
            width: calc((516 / 1280) * 100vw);
          }

          @include sp {
            width: calc((298 / 390) * 100vw);
            margin-left: auto;
          }

          &.img--2 {
            @include imgCover('menu-staple-2.jpg');
          }
        }
      }
    }
  }
}