@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  archive-question
----------------------- */

.question {
  background: linear-gradient(180deg, #9EC653 0%, #FDFFEF 98.5%);

  @include pc {
    padding: p(48) 0 p(39);
  }
  @include sp{
    padding: 46px 0 25px;
    @include height;
  }

  .question-main {
    background: $B-FDFFEF;
    position: relative;

    @include pc {
      width: p(1141);
      height: calc(613 / 700 * 100vh);
      margin: auto;
      border-radius: p(18);
      padding: p(97) p(65) p(40) p(61);
      box-shadow: inset 0px 0px p(10) 0px rgba(0, 0, 0, 0.25);
      display: flex;
    }
    @include sp{
      width: clamp(300px, s(300), 420px);
      height: 580px;
      margin: auto;
      border-radius: s(15);
      padding: 40px s(20);
      box-shadow: inset 0px 0px s(10) 0px rgba(0, 0, 0, 0.25);
    }

    &-TL {
      @include iconContain($question-ribbon);
      position: absolute;
      left: 50%;
      translate: -50% 0;

      @include pc {
        width: p(650);
        height: p(122);
        top: p(-40);
      }
      @include sp{
        width: clamp(250px, s(250), 330px);
        height: s(50);
        top: s(-20);
      }

      .TL {
        color: $F-FFFFFF;
        @include wt900;
        text-align: center;

        @include pc {
          font-size: p(40);
          margin-top: p(20);
          letter-spacing: p(4);
        }
        @include sp{
          font-size: clamp(14px, s(17), 25px);
          margin-top: clamp(0px, s(12), 30px);
          letter-spacing: s(1.7);
        }

      }
    }

    &-post {
      @include pc {
        width: p(700);
        padding-right: p(47);
        border-right: p(2) dashed $P-7FBF99;
      }
      @include sp{
        padding-bottom: clamp(10px, s(20), 20px);
        border-bottom: s(2) dashed $P-7FBF99;
      }
    }

  }

  .post-modal {
    display: none;
    position: relative;
    z-index: 10;

    .letter {
      @include iconContain($letter);
      position: absolute;
      left: 50%;
      translate: -50% -50%;

      @include pc {
        width: p(848);
        height: p(848);
        top: 45%;
      }
      @include sp{
        width: clamp(285px, s(360),500px);
        height: clamp(287px, s(368),505px);
        top: 40%;
      }

      .note-bg {
        background: $B-FFFFFF;
        position: absolute;
        left: 50%;
        translate: -50% -50%;

        @include pc {
          height: p(578);
          top: 55%;
          aspect-ratio: 619 / 578;
          max-height: calc(578 / 700 * 100vh);
          padding: p(32) p(40) p(70);
        }
        @include sp{
          height: calc(247 / 368 * 100%);
          aspect-ratio: 619 / 578;
          top: 60%;
          padding:13px 18px clamp( 25px, s(32), 44px);
        }

        .img-icon {
          @include iconContain($img-icon);
          position: relative;

          @include pc {
            width: p(20);
            height: p(20);
            margin: p(-17) 0 0 auto;
            top: p(15);
          }
          @include sp{
            width: clamp(9px, s(9), 12px);
            height: clamp(9px, s(9), 12px);
            margin: -12px 0 0 auto;
            top: 15px;
          }

          &::before {
            content: "↑";
            position: absolute;
            z-index: 10;
            color: $P-7FBF99;
            @include wt900;

            @include pc {
              font-size: p(10);
              top: p(-5);
              right: p(0);
            }
            @include sp{
              font-size: clamp(6px, s(6), 7px);
              top: -3px;
              right: 0;
            }
          }

          &::after {
            content: "";
            position: absolute;
            background: $B-FFFFFF;
            top: 0;

            @include pc {
              width: p(3);
              height: p(2);
              right: p(3);
            }
            @include sp{
              width: 2px;
              height: 1px;
              right: clamp(2px, s(2), 3px);
            }
          }
        }

        .comment-form-content {

          .C_menu {
            @include sp{
              justify-content: left;
            }
            .menu-item{
              @include sp{
                padding: 3px 6px;
              }
            }
            .select-content {
              z-index: 1;
            }
          }

          .comment-respond {
            .comment-reply-title {
              display: none;
            }
          }

          .comment-form {
            position: relative;

            .error-message {
              position: absolute;

              @include pc {
                margin-top: p(-12);
                font-size: p(10);
              }
              @include sp{
                margin-top: -10px;
                font-size: 8px;
              }
            }

            .logged-in-as {
              display: none;
            }

            .comment-form-image {
              position: absolute;
              opacity: 0;

              @include pc {
                top: p(-35);
                right: 0;
                width: p(30);
              }
              @include sp{
                top: -40px;
                right: -4px;
                width: 20px;
              }

              label {
                display: none;
              }

              .comment_image {
                max-width: 100%;
              }
            }

            .comment-form-title {
              display: flex;
              position: relative;
              align-items: center;


              @include pc {
                border-top: p(2) solid $P-7FBF99;
                border-bottom: p(2) solid $P-7FBF99;
                margin-top: p(15);
                padding: p(13) 0;
              }
              @include sp{
                margin-top: clamp(10px, s(12), 16px);
                border-top: s(1) solid $P-7FBF99;
                border-bottom: s(1) solid $P-7FBF99;
                padding: clamp(3px, s(5), 8px) 0;
              }

              label {
                display: none;
              }

              #comtitle {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                color: $F-6D6D6D;

                @include pc {
                  margin-left: p(11);
                }
                @include sp{
                  margin-left: 6px;
                }

              }

              &::before {
                content: "";
                @include imgContain("staff-icon.png");
                display: block;

                @include pc {
                  width: p(30);
                  height: p(30);
                }
                @include sp{
                  width: clamp(13px, s(13), 20px);
                  height: clamp(13px, s(13), 20px);
                }
              }

              &::after {
                content: "タイトルを記入";
                position: absolute;
                color: $F-D9D9D9;

                @include pc {
                  left: p(40);
                  font-size: p(16);
                }
                @include sp{
                  left: 23px;
                  font-size: clamp(10px, s(10), 12px);
                }
              }

              &.input-has-value {
                &::after {
                  display: none;
                }
              }
            }

            .comment-form-comment {
              width: 100%;
              color: $F-6D6D6D;
              background-image: linear-gradient(90deg, rgba(127, 191, 153, 0) 0%, rgba(127, 191, 153, 0) 55%, rgba(255, 255, 255, 100) 50%, rgba(255, 255, 255, 100) 100%), linear-gradient(180deg, rgba(127, 191, 153, 0) 0%, rgba(127, 191, 153, 0) 96.5%, rgba(127, 191, 153, 100) 96%);
              background-repeat: repeat-x, repeat-y;

              @include pc {
                font-size: p(12);
                height: p(382);
                line-height: 2em;
                background-size: p(6) 100%, 100% 2em;
                padding: 0 p(10);
                border-bottom: p(2) solid $P-7FBF99;
              }
              @include sp{
                font-size: clamp(10px, s(10), 12px);
                height: clamp(100px, s(148), 225px);
                line-height: 1.7em;
                background-size: p(6) 100%, 100% 1.7em;
                padding: 0 5px;
                border-bottom: s(1) solid $P-7FBF99;
              }

              label {
                display: none;
              }

              #comment {
                width: 100%;
                height: 95%;
                background: none;
                border: none;
                outline: none;
                color: $F-6D6D6D;

                @include pc {
                  font-size: p(14);
                  line-height: 1.7em;
                  padding-left: p(10);
                }
                @include sp{
                  font-size: clamp(10px, s(10), 12px);
                  line-height: 1.7em;
                  padding-left: 5px;
                }
              }
            }

            .form-submit {
              position: relative;
              width: fit-content;
              @include pc {
                margin: p(13) 0 0 auto;
              }
              @include sp{
                margin: clamp(0px, s(5), 5px) 0 0 auto;
              }

              input {
                background: $P-7FBF99;
                border: none;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-size: 0;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25), inset 0px 0px 10px 0px #BCF3D3;

                @include pc {
                  width: p(141);
                  height: p(27);
                  padding: p(7) p(25);
                  border-radius: p(5);
                }
                @include sp{
                  width: clamp(61px, s(81), 112px);
                  height: clamp(11px, s(15), 21px);
                  border-radius: 3px;
                }
              }

              &::before {
                content: "質問を送る";
                position: absolute;
                color: $F-FFFFFF;
                pointer-events: none;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                @include wt800;

                @include pc {
                  font-size: p(12);
                  letter-spacing: p(1.2);
                }
                @include sp{
                  width: 100%;
                  font-size: clamp(10px, s(10), 10px);
                  letter-spacing: 1.2px;
                  margin: auto;
                  text-align: center;
                }

              }
            }
          }
          .C_back-btn{
            position: absolute;
            @include pc {
              bottom: p(26);
            } 
            @include sp{
              bottom: 8px;
            }         
          }  
        }
      }
    }

    .success {
      display: none;

      &-content {
        position: absolute;
        background: $B-FFFFFF;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: p(20);

        @include pc {
          width: calc(725 / 1280 * 100vw);
          height: calc(476 / 1280 * 100vw);
          border-radius: p(30);
          padding-top: p(20);
        }
        @include sp{
          width: clamp(242px, s(300), 429px);
          aspect-ratio: 1/1;
          border-radius: 20px;
          padding-top: 20px;
        }

        .TX {
          @include wt800;
          color: $F-6D6D6D;
          text-align: center;
          line-height: 1.3;

          @include pc {
            font-size: p(20);
            letter-spacing: p(2);
          }
          @include sp{
            font-size: clamp(10px, s(10), 12px);
            letter-spacing: 2px;
          }
        }
        .img{
          @include imgContain("goat.png");
          @include pc{
            width: p(175);
            height: p(167);
            margin-left: p(-50);
          }
          @include sp{
            width: clamp(58px, s(72), 104px);
            height: clamp(55px, s(68), 99px);
            margin-left: -8%;
          }
        }
        .C_back-btn{
          @include pc{
            margin: p(10) p(30) 0 0;
          }
          @include sp{
            margin: 5px 15px 0 0 ;
          }

        }
      }

    }

    &.open {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(71, 71, 71, 0.50);
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}