@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  load
----------------------- */
.road-wappaer {
  position: relative;
  width: 100%;
  @include height;

  .road-header {
    @include iconCover($green-header);
    position: relative;
    z-index: 15;
    width: 100%;

    @include pc {
      height: p(60);
    }

    .TL {
      color: $F-FFFFFF;
      @include wt700;

      @include pc {
        font-size: p(23);
        padding: p(15) 0 0 p(34);
      }
    }
  }

  .archive--contents--tab {
    z-index: 20;

    @include pc {
      width: 85%;
      margin-top: p(13);
    }

    .archive--item {
      @include pc {
        width: fit-content;
      }

      &--img {
        @include pc {
          width: p(67);
          height: p(67);
        }
      }
    }
  }

  .arrow {
    position: relative;

    @include pc {
      top: p(-65);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: $P-F69082;
      z-index: 30;

      @include pc {
        width: p(32);
        height: p(8);
        border-radius: p(10);
        right: p(40);
      }
    }

    &::before {
      @include pc {
        top: p(-8);
        rotate: 40deg;
      }
    }

    &::after {
      @include pc {
        top: p(8);
        rotate: -40deg;
      }
    }

  }

  #road {

    .content {
      width: 100%;
      height: 100%;

      .road-content {
        position: relative;
        width: 100%;
        height: 100%;

        @include pc {
          gap: p(30);
        }

        .destination {
          position: absolute;

          .goal {
            display: block;
            @include imgContain("goal.png");
            position: relative;
            left: 73%;

            @include pc {
              width: p(107);
              height: p(62);
            }

            &.clear {
              @include imgContain("clear.png");
            }

            &.not {
              @include imgContain("not.png");

              @include pc {
                width: p(83);
                height: p(40);
              }
            }
          }

          .character-box {
            position: absolute;
            bottom: 0;
            translate: -50% 0;
            z-index: 10;
            pointer-events: none;

            .character {
              @include imgContain("koneko.png");
              transition: left 0.5s ease;
              margin: 0 auto;
              

              @include pc {
                width: p(57);
                height: p(54);
              }
            }

            .name {
              @include pc {
                width: p(40);
                font-size: p(13);
                text-align: center;
              }
            }

            &.me {
              animation: floating-y 2s ease-in-out infinite alternate-reverse;

              @keyframes floating-y {
                0% {
                  transform: translateY(0%);
                }

                100% {
                  transform: translateY(-5%);
                }
              }

              @include pc {
                top: p(-260) !important;
              }

              .character {
                @include imgContain("me.png");

                @include pc {
                  width: p(165);
                  height: p(257);
                }
              }
            }
          }
        }
      }
    }
  }

  &.puzzle {
    background: linear-gradient(180deg, #BCFAFF 0%, #FFF 100%);

    .cloud-box {
      .road-cloud {
        @include iconContain($road-cloud);
        position: absolute;

        &:nth-child(1),
        &:nth-child(7) {
          @include pc {
            width: p(250);
            height: p(160);
            bottom: p(551);
            left: p(-90);
          }
        }

        &:nth-child(2) {
          z-index: 10;
          scale: -1 1;

          @include pc {
            width: p(147);
            height: p(108);
            bottom: p(474);
            left: 0;
          }
        }

        &:nth-child(3),
        &:nth-child(9) {
          @include pc {
            width: p(168);
            height: p(124);
            bottom: p(495);
            left: p(195);
          }
        }

        &:nth-child(4),
        &:nth-child(8) {
          @include pc {
            width: p(147);
            height: p(108);
            bottom: p(554);
            right: p(502);
          }
        }

        &:nth-child(5),
        &:nth-child(10) {
          scale: -1 1;

          @include pc {
            width: p(127);
            height: p(93);
            bottom: p(576);
            right: p(81);
          }
        }

        &:nth-child(6) {
          z-index: 10;

          @include pc {
            width: p(147);
            height: p(108);
            bottom: p(497);
            right: p(-20);
          }
        }

        &:nth-child(11) {
          z-index: 10;

          @include pc {
            width: p(290);
            height: p(210);
            bottom: p(-60);
            left: p(-70);
          }
        }

        &:nth-child(12) {
          z-index: 10;

          @include pc {
            width: p(225);
            height: p(170);
            bottom: p(-40);
            right: p(-100);
          }
        }

        &.road-cloud02 {
          @include iconContain($road-cloud02);
        }
      }
    }

    #road {
      @include imgContain("road-bg.png");
      position: absolute;
      bottom: 0;
      z-index: 5;


      @include pc {
        width: p(1280);
        height: p(700);
      }

      .road-inner {
        @include imgContain("road.png");
        position: relative;

        @include pc {
          width: p(1032);
          height: p(360);
          margin: p(228) 0 0 p(210);
        }

        .road-wood {
          @include imgContain("road-wood.png");
          position: absolute;

          @include pc {
            width: p(277);
            height: p(298);
            right: p(-80);
            top: p(-80);
          }
        }

        .road-wood-02 {
          @include imgContain("road-wood-02.png");
          position: absolute;
          z-index: 20;

          @include pc {
            width: p(182);
            height: p(193);
            left: p(-213);
            bottom: p(-53);
          }
        }

        .content {
          .road-content {
            .destination {
              @include pc {
                width: p(180);
              }

              &:nth-child(1) {
                @include pc {
                  bottom: p(-11);
                  left: p(-100);
                }
              }

              &:nth-child(2) {
                @include pc {
                  bottom: p(15);
                  left: p(108);
                }

                .character-box {
                  @include pc {
                    top: p(-50);
                  }
                }
              }

              &:nth-child(3) {
                @include pc {
                  bottom: p(25);
                  left: p(310);
                }

                .character-box {
                  @include pc {
                    bottom: p(-30);
                  }
                }
              }

              &:nth-child(4) {
                @include pc {
                  bottom: p(-5);
                  right: p(290);
                }

                .character-box {
                  @include pc {
                    top: p(-80);
                  }
                }
              }

              &:nth-child(5) {
                @include pc {
                  top: p(213);
                  right: p(167);
                  rotate: -90deg;
                }

                .goal,
                .character-box {
                  @include pc {
                    rotate: 90deg;
                  }
                }

                .character-box {
                  @include pc {
                    bottom: p(-100);
                  }
                }

                .goal {
                  @include pc {
                    left: 50%;
                  }
                }
              }

              &:nth-child(6) {
                @include pc {
                  width: p(150);
                  top: p(105);
                  right: p(355);
                  scale: -1 1;
                  rotate: 65deg;
                }

                .goal,
                .character-box {
                  @include pc {
                    rotate: 65deg;
                  }
                }

                .goal {
                  @include pc {
                    left: 45%;
                    top: p(4);
                  }
                }

                .character-box {
                  @include pc {
                    scale: -1 1;
                  }

                  &.me {
                    @include pc {
                      top: p(-125) !important;
                      margin-left: p(132);

                    }
                  }
                }

              }

              &:nth-child(7) {
                @include pc {
                  width: p(200);
                  top: p(40);
                  left: p(243);
                  scale: -1 1;
                  rotate: -12deg;

                  .goal,
                  .character-box {
                    @include pc {
                      rotate: -12deg;
                    }
                  }

                  .character-box {
                    @include pc {
                      scale: -1 1;
                    }
                  }

                }
              }

              &:nth-child(8) {
                @include pc {
                  top: p(103);
                  left: p(99);
                  rotate: -30deg;
                  scale: -1 1;

                  .goal,
                  .character-box {
                    @include pc {
                      rotate: -30deg;
                    }
                  }

                  .character-box {
                    @include pc {
                      scale: -1 1;
                      bottom: p(-59);
                    }
                  }

                  .goal {
                    left: 109%;
                  }
                }
              }
            }
          }
        }
      }
    }

    .road-chat {
      position: absolute;
      z-index: 20;
      height: fit-content;
      @include pc{
        left: 0;
        bottom: p(45);
      }

      #simple-ajax-chat {
        display: none;
      }

      .C_chat-content {
        #latest-messages {
          @include pc {
            padding-left:p(15);
          }

          .sac-chat-name {
            display: none;
          }
        }

        .timeline-wrap {
          .timeline {
            background: linear-gradient(0deg, rgba(92, 92, 92, 0.00) 0%, rgba(92, 92, 92, 0.40) 15.5%, rgba(92, 92, 92, 0.60) 29%, rgba(92, 92, 92, 0.60) 71.5%, rgba(92, 92, 92, 0.40) 87.5%, rgba(92, 92, 92, 0.00) 100%);
            color: $F-F1FCD4;

            @include pc {
              font-size: p(10);
              width: p(165);
              height: fit-content;
              padding: p(15) p(10);
              margin-top: p(23);
            }
          }
        }
        .reaction{
          background: $B-F69064;
          position: relative;
          @include pc{
            width: p(165);
            border-radius: 0 p(15) p(15) 0;
            margin-top: p(23);
            padding: p(10) p(8) p(10) p(10);
          }
          .TX{
            color: $F-F4FFCB;
            @include wt800;
            @include pc{
              font-size: p(13);
              letter-spacing: p(1.2);
              line-height: 1.3;
            }
          }
          .reaction-counter{
            color: $F-FFFFFF;
            position: absolute;
            @include wt800;
            @include pc{
              font-size: p(13);
              letter-spacing: p(1.2);
              top: p(30);
              right: p(67);
            }
          }
          .coin-counter{
            background: $B-FFFFFF;
            display: flex;
            align-items: center;
            filter: brightness(80%);
            @include pc{
              width: fit-content;
              border-radius: p(20);
              margin: p(3) 0 0 auto;
              padding: p(4) p(13) p(4) p(8);
            }
            .icon{
              @include imgContain("/log-board/log-board-item-02.png");
              @include pc{
                width: p(30);
                height: p(30);
              }
            }
            .number{
              color: $B-F69064;
              @include wt800;
              @include pc{
                font-size: p(21);
                margin-left: p(5);
              }
            }
            &.get{
              filter: brightness(100%);
            }
          }
        }
      }
    }
    .under-menu{
      position: absolute;
      z-index: 99;
      background: rgba(92, 92, 92, 0.50);
      width: 100%;
      transition: all 0.5s;
      @include pc{
        padding: p(64) p(38) p(34);
        bottom: p(-160);
      }
      .menu-arrow{
        position: absolute;
        left: 50%;
        translate: -50% 0;
        @include pc{
          top: p(14);
        }
        
        &::before,&::after{
          content: "";
          position: absolute;
          background-color: $B-FFFFFF;
          top: 0;
          @include pc{
            border-radius: p(4);
            width: p(30);
            height: p(4);
          }
        }
        &::before{
          @include pc{
            rotate: -30deg;
            right: p(-3);
          }
        }
        &::after{
          @include pc{
            rotate: 30deg;
            left: p(-4);
          }
        }    
      }
      .menu-box{
        display: flex;
        justify-content: right;
        @include pc{
          gap: p(20);
        }
        .btn{
          @include pc{
            width: p(92);
            height: p(92);
          }
          &.road-my-btn{
            @include imgContain("my-btn.png");
          }
          &.road-ranking-btn{
            @include imgContain("ranking-btn.png");
          }
          &.road-column-btn{
            @include imgContain("column-btn.png");
          }
          &.road-question-btn{
            @include imgContain("question-btn.png");
          }
          &.road-game-btn{
            @include imgContain("game-btn.png");
          }
        }
        
      }
      &.open{
        bottom: 0;
        transition: all 0.5s;
      }
    }
  }
}