@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  single-question
----------------------- */


.question-content {
  overflow: scroll;

  @include pc {
    height: calc(472 / 519 * 100%);
    margin-top: p(30);
  }
  @include sp{
    height: 210px;
    margin-top: 22px;
  }


  .comments-area {
    .comment-list {
      display: flex;
      flex-direction: column;

      @include pc {
        gap: p(25);
      }
      @include sp{
        gap: s(14);
      }

      li {
        display: flex;
        flex-direction: column;

        @include pc {
          gap: p(25);
        }
        @include sp{
          gap: s(14);
        }

        .comment-body {
          background: $B-FFFFFF;

          @include pc {
            width: p(619);
            padding: p(32) p(41) p(26);
            box-shadow: 0 p(1) p(4) 0 rgba(0, 0, 0, 0.25);
          }
          @include sp{
            width:clamp(220px,s(245), 300px);
            padding: s(11) s(16) s(15);
            box-shadow: 0 s(1) s(4) 0 rgba(0, 0, 0, 0.25);

          }

          .comment-title{
            color: $F-6D6D6D;
            @include wt600;
            @include pc{
              font-size: p(16);
              margin: p(-25) 0 p(5) p(40);
            }
            @include sp{
              font-size: clamp(10px, s(12), 18px);
              margin: s(-15) 0 s(5) s(26);
            }
          }
          .vcard {
            display: none;
          }

          .commentmetadata {
            font-size: 0;

            @include pc {
              padding-top: p(10);
            }
            @include sp{
              padding-top: 5px;
            }
            &::before {
              content: "";
              display: block;
              width: 100%;
              @include pc{
                border-bottom: p(2) solid $P-7FBF99;
              }
              @include sp{
                border-bottom: s(1) solid $P-7FBF99;
              }
            }
          }

          p {
            width: 100%;
            color: $F-6D6D6D;
            background-image: linear-gradient(90deg, rgba(127, 191, 153, 0) 0%, rgba(127, 191, 153, 0) 55%, rgba(255, 255, 255, 100) 50%, rgba(255, 255, 255, 100) 100%), linear-gradient(180deg, rgba(127, 191, 153, 0) 0%, rgba(127, 191, 153, 0) 96.5%, rgba(127, 191, 153, 100) 96%);
            background-repeat: repeat-x, repeat-y;

            @include pc {
              font-size: p(12);
              line-height: 2em;
              background-size: p(6) 100%, 100% 2em;
              padding-left: p(10);
            }
            @include sp{
              font-size: clamp(10px, s(10), 12px);
              line-height: 2em;
              background-size: s(6) 100%, 100% 2em;
              padding-left: s(5);
            }
          }

          .post-title {
            background: rgba(156, 196, 83, 0.24);
            color: $P-7FBF99;
            width: fit-content;


            @include pc {
              font-size: p(10);
              letter-spacing: p(1);
              padding: p(5) p(14);
              border-radius: p(20);
              margin: p(14) p(0) p(0) auto;
            }
            @include sp{
              font-size: clamp(8px, s(8), 12px);
              letter-spacing: s(0.8);
              padding: s(3) s(10);
              border-radius: s(20);
              margin: s(8) 0 0 auto;

            }
          }
          .comment-image{
            img{
              width: 100%;
            }
          }

          .reply {
            display: none;
          }



          &::before {
            content: "";
            @include imgContain("staff-icon.png");
            display: inline-block;
            top: 0;
            left: 0;

            @include pc {
              width: p(32);
              height: p(32);
            }
            @include sp{
              width: clamp(19px, s(19), 32px);
              height: clamp(19px, s(19), 32px);
            }
          }
        }

      }

      .children {
        .comment-body {
          margin-left: auto;
          position: relative;


          .commentmetadata {
            &::before {
              border-bottom: p(2) solid $P-F1D23E;
            }
          }

          p {
            background-image: linear-gradient(90deg, rgba(127, 191, 153, 0) 0%, rgba(127, 191, 153, 0) 55%, rgba(255, 255, 255, 100) 50%, rgba(255, 255, 255, 100) 100%), linear-gradient(180deg, rgba(127, 191, 153, 0) 0%, rgba(127, 191, 153, 0) 96.5%, rgba(241, 210, 62, 100) 96%);
          }


          .post-title {
            display: none;
          }

          &::before {
            @include imgContain("teacher-icon.png");
          }

          &::after {
            content: "講師からの回答";
            position: absolute;
            background: $B-FCF2C0;
            color: $F-F1B43E;
            left: 0;
            @include wt800;

            @include pc {
              padding: p(6) p(21) p(6) p(15);
              border-radius: p(20) p(20) p(20) 0;
              font-size: p(16);
              letter-spacing: p(1.6);
              top: p(-15);
            }
            @include sp{
              padding: s(3) s(10) s(3) s(5);
              border-radius: s(20) s(20) s(20) 0;
              font-size: clamp(12px, s(12), 15px);
              letter-spacing: s(1);
              top: s(-10);

            }
          }

        }
      }

    }
    .comment-respond{
      display: none;
    }
  }
}