@use "../../global" as *;
@use "../globalCooperator-2" as *;

/* -----------------------
  top 4ページ目
----------------------- */

#top-04{
  z-index: 2;
  position: relative;
  @include pc{
    height: 100%;
    width: 100%;
  }

  .C_feature{
    position: relative;
    z-index: 500;
    @include pc{
      padding-top: 117px;
      margin: 0 auto;
    }
    @include sp{
      padding-top: 15vh;
    }
  }
	.C_image{
		position: relative;
		justify-content: center;

		z-index: 200;
		@include pc{
			margin-top: 30px;
		}
	}
}