

$buttonBule: #A8DAE9;


$backgroundBule: #A8DAE9;
$backgroundBulegray: #F3F9FB;
$backgroundtable: #DDF0F8;
$backgroundgray: #F2F2F2;


$flow-point-border: #EBFAFF;
$flow-poin-current: #57C6EA;

$F-blue:#57C6EA;


$P-white: #FFFFFF;
$P-bule: #A9DAEA;
$P-gray:#D1D1D1;