@use "../functions" as *;

/* -----------------------
  unity
----------------------- */

// 表示・非表示
.sp {
  @include pc {
    display: none !important;
  }
}

.pc {
  @include sp {
    display: none !important;
  }
}

.pc-inline {
  @include pc{
    display: inline !important;
  }
  @include sp {
    display: none !important;
  }
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

body {
  @include yugothic;

  &.active {

    @include sp {
      overflow: hidden;
    }
  }
}

.whopper {
  overflow: hidden;
}

.template_wrap{

  @include pc{
    padding-top: 100px;
  }
  
  @include sp{
    padding-top: 40px;
  }
}

.template_inner880{

  @include pc{
    max-width: 880px;
    width: 90%;
    margin: 0 auto;
  }
}

.template_inner1080{

  @include pc{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
  }
}

.cartNav{

  @include pc{
    display: flex !important;
  }
}