@use "../../global"as *;
@use "../globalCooperator-2"as *;

/* -----------------------
  C_menu
----------------------- */

.C_menu {
  display: flex;
  align-items: center;

  @include pc {
    gap: p(12);
  }

  @include sp {
    flex-wrap: wrap;
    justify-content: center;
    gap: s(10);
  }


  .menu-item {
    color: $P-7FBF99;

    @include pc {
      width: p(141);
      font-size: p(10);
      letter-spacing: p(1);
      border-radius: p(20);
      padding: p(4) p(12);
      border: p(1) solid $P-7FBF99;
    }

    @include sp {
      width: clamp(120px, s(120), 160px);
      font-size: clamp(10px, s(10), 12px);
      letter-spacing: s(1);
      border-radius: s(20);
      padding: s(3) s(10);
      border: s(1) solid $P-7FBF99;
    }

  }

  .post {
    background: $P-7FBF99;
    color: $F-FFFFFF;

    @include pc {
      box-shadow: 0px p(2) p(4) 0px rgba(0, 0, 0, 0.25), inset 0px 0px p(10) 0px #BCF3D3;
      padding: p(7) p(25);
      border-radius: p(5);
      font-size: p(12);
      letter-spacing: p(1.2);
    }
    @include sp{
      box-shadow: 0px s(2) s(4) 0px rgba(0, 0, 0, 0.25), inset 0px 0px s(10) 0px #BCF3D3;
      padding: s(3) clamp(12px, s(21), 27px) s(4);
      border-radius: s(3);
      font-size: clamp(10px, s(10), 12px);
      letter-spacing: s(1);
    }
    .post-content{
      @include pc{
        @include wt800;
      }
      @include sp{
        @include wt600;
      }

    }
  }

  .category {
    .category-content {
      position: relative;
      cursor: pointer;

      .select-content {
        display: none;
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        z-index: 10;

        @include pc {
          top: p(15);
        }
        @include sp{
          top: s(13);
        }


        .select {
          color: $F-FFFFFF;
          width: 100%;
          background: $P-7FBF99;
          left: 0;
          display: flex;
          flex-direction: column;

          @include pc {
            padding: p(10);
            border-radius: p(5);
            gap: p(10);
          }
          @include sp{
            padding: clamp(4px, s(8),10px );
            border-radius: s(3);
            gap: s(7);
          }

          .TX {
            color: $F-1E673C;

            @include pc {
              font-size: p(12);
            }
            @include sp{
              font-size: clamp(12px, s(12), 14px);
            }
          }

          a {
            color: $F-FFFFFF;
            display: inline-block;

            @include pc {
              font-size: p(10);
              margin: p(5) 0 0 p(5);
            }
            @include sp{
              font-size: clamp(10px, s(10), 12px);
              margin: s(4) 0 0 s(4);

            }
          }
        }

        &.show {
          display: block;
          opacity: 0;
          animation: down 0.8s ease 0s forwards;

          @keyframes down {
            0% {
              opacity: 0;
            }

            100% {
              opacity: 1;
            }
          }
        }

      }



      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;

        @include pc {
          width: p(3);
          height: p(3);
          border-right: p(1) solid $P-7FBF99;
          border-bottom: p(1) solid $P-7FBF99;
        }
        @include sp{
          width: s(2);
          height: s(2);
          border-right: s(1) solid $P-7FBF99;
          border-bottom: s(1) solid $P-7FBF99;
        }
      }

      &::before {
        rotate: -135deg;

        @include pc {
          top: p(0);
        }
        @include sp{
          top: clamp(0px , s(2), 2px);
        }

      }

      &::after {
        rotate: 45deg;

        @include pc {
          bottom: p(0);
        }
        @include sp{
          bottom: clamp(0px , s(2), 2px);
        }
      }
    }
  }

  .search {
    position: relative;

    @include pc {
      margin-left: p(20);
    }
    @include sp{
      margin-left: s(15);
    }

    &-content {
      background: rgba(156, 196, 83, 0.24);
      position: relative;
      border: none;

      @include pc {
        width: p(138);
        height: p(20);
        padding: p(2) p(12);
      }
      @include sp{
        width: clamp(100px, s(106), 132px);
        height: clamp(15px , s(18), 25px);
      }

      .search-input {
        background: none;
        border: none;
        outline: none;
        color: $P-7FBF99;
        max-width: 100%;

        @include pc {
          margin-top: p(2);
          font-size: p(10);
        }
        @include sp{
          font-size: clamp(10px, s(10), 12px);
        }



        &::placeholder {
          color: $P-7FBF99;
        }
      }

    }

    &::before {
      content: "";
      @include iconContain($search);
      position: absolute;
      top: 50%;
      translate: 0 -50%;

      @include pc {
        width: p(20);
        height: p(17);
        left: p(-22);
      }
      @include sp{
        width: clamp(16px, s(18), 20px);
        height: clamp(14px, s(16), 18px);
        left: sm(-20,-24);
      }
    }
  }
}