@use "../functions" as *;

/* -----------------------
  C_view_more
----------------------- */

.C_view_more {
  display: block;
  width: fit-content;
  border-radius: 100px;
  border: 1px solid #979EA1;
  padding: 9px 23px;
  
  .TX{
    color: #979EA1;
    @include wt500;
    font-size: 10px;
    @include yugothic;
    
    @include pc{
      line-height: normal;
    }
    
    @include sp{
      line-height: 1.5;
    }
  }
}