// フォント
// font-family: "yu-mincho-pr6n",
@mixin yumincho {
  font-family: "yu-mincho-pr6n",sans-serif;
  font-weight: 400;
  font-style: normal;
}

// font-family: "yu-gothic-pr6n",
@mixin yugothic {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;}



// font-weight:;
@mixin wt100 {
  font-weight: 100;
}

@mixin wt200 {
  font-weight: 200;
}

@mixin wt300 {
  font-weight: 300;
}

@mixin wt400 {
  font-weight: 400;
}

@mixin wt500 {
  font-weight: 500;
}

@mixin wt600 {
  font-weight: 600;
}

@mixin wt700 {
  font-weight: 700;
  text-shadow: 0 0 0.5px;
}

@mixin wt800 {
  font-weight: 800;
  text-shadow: 0 0 0.5px;
}

@mixin wt900 {
  font-weight: 900;
  text-shadow: 0 0 0.5px;
}