
// 共通
$mainC: #F3F9FB;
$subC: #A8DAE9;

// ボタン
$button: #57C6EA;
$buttonBack: #D1D1D1;
$buttonYellow: #EED06E;

// フォント
$mainF: #585D5F;
$subF: #989898;
$whiteF: #FFFFFF;
$blueF: #A8DAE9;

// ヘッダー
$header1: #D5EEF6;
$header2: #C2E5F1;
$header3: #ADDEED;