@use "../../functions"as *;
@use "../J_functions"as *;

/* -----------------------
  my-info-change-check
----------------------- */

.my-info-change-check {

  .change-content {
    @include pc {
      margin-top: 30px !important;
    }

    @include sp {
      margin-top: 35px !important;
    }
  }

  .caption {
    @include pc {
      margin-top: 35px;
    }

    @include sp {
      margin-top: 32px;
    }
  }

  .second {
    .item {
      .content {
        width: 100% !important;
        padding-block: 18px !important;
      }
    }

    &.top-second {
      margin-top: 15px;
    }
  }

  .btn-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: auto !important;


    @include pc {
      margin: 100px auto 30px !important;
      gap: 23px;
    }

    @include sp {
      width: 90%;
      margin: 60px auto 20px !important;
      gap: 15px;
    }

    .C_btn_wrap {
      @include pc {
        height: 70px;
      }

      @include sp {
        height: 50px;
      }

      &.wrap-1 {
        @include pc {
          width: calc(427 / 692 * 100%);
        }

        @include sp {
          width: calc(152 / 350 * 100%);
          min-width: 200px;
        }
        @media screen and (max-width: 460px) {
          min-width: 170px;
        }
        .btn-wrap{
          .TX{
            @media screen and (max-width: 460px) {
              font-size: 16px;
            }
          }
          &::after{
            display: none;
          }
        }
      }

      &.wrap-2 {
        @include pc {
          width: calc(242 / 692 * 100%);
        }

        @include sp {
          width: calc(152 / 350 * 100%);
        }
        .btn-wrap{
          .TX{
            &::after{
              border-top: 1px solid $whiteF;
              border-right: 1px solid $whiteF;
              left:calc(65 / 242 * 100%);
            }  
          }
        }
      }
    }

    .C_btn {
      width: 100%;
      border: none;
      @include sp{
        height: 58px;
      }



      input {
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: $whiteF;
      }
    }
  }
}