@use "../../functions"as *;
@use "../J_functions"as *;

/* -----------------------
  my-contact
----------------------- */

.my-contact {

  .under-TX {
    color: $subF;
    margin-top: 10px;
  }

  .pagerArea {
    @include pc {
      margin: 46px 0 5px;
    }

    @include sp {
      margin: 30px 0 11px;
    }

    .form-inline {
      font-size: 10px;
      color: $subF;

      .custom-select {
        font-size: 10px;
        border-radius: 5px;
        color: $subF;
      }
    }
  }

  .myInfoHistoryBox {
    li {
      @include sp {
        flex-direction: column;
      }

      .historyDetailCol {
        width: 100%;

        @include pc {
          flex-basis: calc(100% / 3) !important;
        }


        dt {
          color: $subF;
          font-size: 16px;
          padding: 13px 0 13px 18px;
          @include wt700;
        }

        dd {
          font-size: 16px;
          padding: 13px 0 13px 18px;
          a{
            color: $mainF;
          }
        }
      }
    }
  }
}