
/* -----------------------
  anime Cooperator-2
----------------------- */

// 上下の動きループ
// 適性診断の矢印

.vertical{
  animation: vertical 1.5s ease 8s infinite;
  
  @keyframes vertical {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(30%);
    }
    100% {
      transform: translateY(0%);
    }

  }  
}


// 適性結果
.pop-late {
  opacity: 0;
  transform: scale(0.5);
  animation: pop 0.5s ease 6s forwards;
  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}


//雲の動き

.cloudAnime{
  animation: cloudAnime 5s ease 0.5s infinite;
  
  @keyframes cloudAnime {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0%);
    }

  }  
}

.cloudAnime02{
  animation: cloudAnime 7s ease 1s infinite;
  
  @keyframes cloudAnime {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(15%);
    }
    100% {
      transform: translateY(0%);
    }

  }  
}

// ボンっと表示される
.zoomIn {
  opacity: 0;

  &.show {
    animation: zoomInAnime 0.5s ease 0s forwards;

    @keyframes zoomInAnime {
      from {
        opacity: 0;
        transform: scale(0.6);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
