@use "../global" as *;


.voice__aaa{
  display: flex;
  flex-wrap: wrap;

  @include pc{
    width: max(calc(( 938 / 1280) * 100vw), 700px);
    margin: calc(( 40 / 1280) * 100vw) auto 0;
    gap: calc(( 65 / 1280) * 100vw) calc(( 18 / 1280) * 100vw);
  }

  @include sp{
    width: 100%;
    margin: calc(( 40 / 390) * 100vw) auto 0;
    padding: 0 calc(( 20 / 390) * 100vw);
    gap: calc(( 23 / 390) * 100vw) calc(( 10 / 390) * 100vw);
  }
}



.C_voice{
  border: 1px solid #CAB493;

  @include pc{
    width: calc( 100% / 3 - calc(calc(( 18 / 1280) * 100vw) * 2 / 3));
    padding: calc(( 24 / 1280) * 100vw) calc(( 20 / 1280) * 100vw);
  }

  @include sp{
    width: calc( 100% / 2 - calc(calc(( 10 / 390) * 100vw) * 1 / 2));
    padding: calc(( 10 / 390) * 100vw) calc(( 10 / 390) * 100vw);
  }

  &--img{
    width: 100%;
    height: fit-content;
    aspect-ratio: 1 / 1;

    @include pc{
      margin-bottom: calc(( 20 / 1280) * 100vw);
    }

    @include sp{
      margin-bottom: calc(( 20 / 390) * 100vw);
    }

    // 1
    &.img--1{
      @include img("voice-img-1.jpg");
      background-size: cover;
    }

    // 2
    &.img--2{
      @include img("voice-img-2.jpg");
      background-size: cover;
    }

    // 3
    &.img--3{
      @include img("voice-img-3.jpg");
      background-size: cover;
    }

    // 4
    &.img--4{
      @include img("voice-img-4.jpg");
      background-size: cover;
    }

    // 5
    &.img--5{
      @include img("voice-img-5.jpg");
      background-size: cover;
    }

    // 6
    &.img--6{
      @include img("voice-img-6.jpg");
      background-size: cover;
    }

    // 7
    &.img--7{
      @include img("voice-img-7.jpg");
      background-size: cover;
    }

    // 8
    &.img--8{
      @include img("voice-img-8.jpg");
      background-size: cover;
    }

    // 9
    &.img--9{
      @include img("voice-img-9.jpg");
      background-size: cover;
    }

    // 10
    &.img--10{
      @include img("voice-img-10.jpg");
      background-size: cover;
    }

    // 11
    &.img--11{
      @include img("voice-img-11.jpg");
      background-size: cover;
    }

    // 12
    &.img--12{
      @include img("voice-img-12.jpg");
      background-size: cover;
    }
  }

  &--name{
    border-bottom: 1px solid $darkGreen;

    @include pc{
      padding: 0 0 calc(( 16 / 1280) * 100vw);
      margin-bottom: calc(( 16 / 1280) * 100vw);
    }

    @include sp{
      padding: 0 0 calc(( 16 / 390) * 100vw);
      margin-bottom: calc(( 16 / 390) * 100vw);
    }

    p{
      color: $mainColor;
      @include sans;
      font-weight: 600;
      line-height: 100%;
      text-align: center;
      
      @include pc{
        font-size: max(calc(( 16 / 1280) * 100vw),12px);
        letter-spacing: calc(( 0.48 / 1280) * 100vw);
      }

      @include sp{
        font-size: calc(( 12 / 390) * 100vw);
        letter-spacing: calc(( 0.48 / 390) * 100vw);
      }
    }
  }

  &--trouble{
    border-bottom: 1px solid $darkGreen;

    @include pc{
      padding: 0 0 calc(( 16 / 1280) * 100vw);
      margin-bottom: calc(( 16 / 1280) * 100vw);
    }

    @include sp{
      padding: 0 0 calc(( 16 / 390) * 100vw);
      margin-bottom: calc(( 16 / 390) * 100vw);
    }

    p{
      color: $mainColor;
      @include sans;
      font-weight: 600;
      line-height: 100%;
      text-align: center;
      
      @include pc{
        font-size: max(calc(( 16 / 1280) * 100vw),12px);
        letter-spacing: calc(( 0.48 / 1280) * 100vw);
      }

      @include sp{
        font-size: calc(( 12 / 390) * 100vw);
        letter-spacing: calc(( 0.48 / 390) * 100vw);
      }
    }
  }

  &--comment{

    p{
      color: #78635C;
      @include sans;
      font-weight: 300;
      line-height: 200%;
      
      @include pc{
        font-size: max(calc(( 14 / 1280) * 100vw),10px);
        letter-spacing: calc(( 0.98 / 1280) * 100vw);
      }

      @include sp{
        font-size: calc(( 12 / 390) * 100vw);
        letter-spacing: calc(( 0.98 / 390) * 100vw);
      }
    }
  }
}