@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  C_line
----------------------- */

.C_line {
  @include iconCover($C_buying-guid-TL);
  background-repeat: repeat-x;
  width: 100%;
  height: 3px;
}
