@use "../../functions" as *;
@use "../J_functions" as *;

/* -----------------------
  C_mypageMenu
----------------------- */

.C_mypageMenu {
  display: flex;
  margin-top: 60px;
  @include pc{
    gap: 11px; 
    justify-content: center;

  }
  @include sp{
    max-width: 350px;
    gap: 10px 5px;
    flex-wrap: wrap;
    margin-inline: auto;
  }
  .btn{
    background: $subC;
    border-radius: 20px;
    text-align: center;
    color: $whiteF;
    @include wt700;
    @include pc{
      width: 140px;
      font-size: 12px;
      padding: 4px 0;
    }
    @include sp{
      width: calc(112 / 350 * 100%);
      font-size: 10px;
      padding: 2px 0;
    }
    &.current{
      background: $button;
    }
  }
}