@use '../functions' as *;

/* -----------------------
  front
----------------------- */

.section-wrap {
  padding: 200px 20px 200px;
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-inline: auto;
  max-width: 1000px;

  .section {
  
    .TL {
      font-weight: bold;
      // text-align: center;
      margin-bottom: 35px;
  
      @include pc {
        font-size: 24px;
      }
  
      @include sp {
        font-size: 18px;
      }
    }
  
    .table_wrap {
      overflow-x: auto;
  
      .table {
        width: 100%;
        min-width: 500px;
        border-collapse: collapse;
        border-spacing: 0;
  
        tbody {
          tr {
            th {
              width: 30%;
              vertical-align: middle;
              background-color: #fafafa;
              border: 1px solid #dedede;
              padding: 20px 10px;
              font-size: 14px;
            }
  
            td {
              width: 70%;
              vertical-align: middle;
              border: 1px solid #dedede;
              padding: 20px 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
