@use "../functions" as *;


/* -----------------------
  footer
----------------------- */

#footer {
  background: linear-gradient(180deg, #A8DAE9 0%, #D5EEF6 100%);
  padding: 55px 0 0;

  @include sp {
    padding-inline: 20px;
  }

  .container-sitemap {
    margin: 0 auto;
    display: flex;

    @include pc {
      width: 90%;
      max-width: 880px;
      margin-bottom: 75px;
      gap: 70px;
    }

    @include sp {
      margin-bottom: 60px;
      flex-direction: column;
      gap: 30px;
      position: relative;
    }

    .item {
      @include column(15px);
      width: fit-content;

      &.position {

        @include sp {
          position: absolute;
          top: 0;
          left: 180px;
        }
      }

      .TL {
        color: $whiteF;
        @include wt700;
        line-height: normal;
        font-size: 12px;
        text-align: left;
      }

      ul {
        @include column(15px);

        li {

          a {
            color: #FFF;
            color: $whiteF;
            @include wt700;
            line-height: normal;
            font-size: 12px;
          }
        }
      }
    }
  }

  .aside {
    margin-bottom: 30px;

    a {
      @include sp {
        width: fit-content;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .logo {
    @include wt600;
    line-height: 1.5;
    width: fit-content;
    margin: 0 auto;

    @include pc {
      font-size: 4rem;
    }

    @include sp {
      font-size: 2.4rem;
    }

    a {
      display: block;
    }

    img {
      width: 100%;

      @include pc {
        max-width: min(300px, 50vw);
      }

      @include sp {
        max-width: min(142px, s(142));
      }
    }
  }
}

.footer-after {

  @include pc {
    padding: 200px 20px 100px;
  }

  @include sp {
    padding: 130px 20px;
  }

  &-inner {
    display: flex;
    gap: 30px;

    @include pc {
      justify-content: space-between;
      max-width: 1080px;
      margin: 0 auto;
    }

    @include sp {
      flex-direction: column;
    }

    .link {
      @include center;
      
      @include pc {
        width: 500px;
        height: 147px;
      }

      @include sp {
        min-height: 147px;
        padding: 10px;
      }

      &.green {
        border-top: 1px solid #D3E796;
        border-bottom: 1px solid #D3E796;
        background: #F5FDEA;
      }

      &.blue {
        border-top: 1px solid #C6E6F0;
        border-bottom: 1px solid #C6E6F0;
        background: #F3F9FB;
      }

      &-inner {
        display: flex;
        align-items: center;
        
        @include pc{
          gap: 38px;
        }
        
        @include sp{
          gap: 22px;
        }

        img {
          object-fit: contain;
          object-position: center;

          &.icon-beginner {
            width: 59px;
          }

          &.icon-contact {
            width: 84px;
          }
        }

        .text {
          @include column(8px);

          .TX {
            color: #585D5F;
            font-size: 13px;
            @include wt500;
            line-height: normal;
          }

          .TL {
            color: #585D5F;
            @include yumincho;
            font-size: 20px;
            @include wt800;
            line-height: 1;
          }
        }
      }
    }
  }
}