// フォント


@mixin mplus {
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin kavoon {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin wt100 {
  font-weight: 100;
}

@mixin wt300 {
  font-weight: 300;
}

@mixin wt400 {
  font-weight: 400;
}

@mixin wt500 {
  font-weight: 500;
}

@mixin wt600 {
  font-weight: 600;
}

@mixin wt700 {
  font-weight: 700;
}

@mixin wt800 {
  font-weight: 800;
}

@mixin wt900 {
  font-weight: 900;
}


// サイズ
@function p($size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}

// font-size: p(50);

@function pm($size, $maxSize: $size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  $calculatedSize: $rate * $size * 1vw;
  @return max(#{$calculatedSize}, #{$maxSize}px);
}

// font-size: pm(50,40);

@function pmi($size, $maxSize: $size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  $calculatedSize: $rate * $size * 1vw;
  @return min(#{$calculatedSize}, #{$maxSize}px);
}

// font-size: pmi(50,40);

@function s($size, $viewport: 390) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}

// font-size: s(50);

@function sm($size, $maxSize: $size, $viewport: 390) {
  $rate: calc(100 / $viewport);
  $calculatedSize: $rate * $size * 1vw;
  @return max(#{$calculatedSize}, #{$maxSize}px);
}

// font-size: sm(50,40);