

// フォントカラー
$F-F8F7F8: #F8F7F8;
$F-6B644D: #6B644D;
$F-202020: #202020;
$F-FFFFFF: #FFFFFF;
$F-F38549: #F38549;
$F-4BC7FB: #4BC7FB;
$F-877E61: #877E61;

// バックグラウンドカラー
$B-DB8096: #DB8096;
$B-FFF8F1: #FFF8F1;

// パーツカラー
$P-DB8096: #DB8096;
$P-81AA51: #81AA51;
$P-F38549: #F38549;
$P-FFFFFF: #ffffffaf;
$P-dddcb950: #dddcb950;
$P-4BC7FB: #4BC7FB;
$P-f3844992: #f3844992;
$P-F5EADE: #F5EADE;
